textarea {
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}