{% extends "auctions/layout.html" %}

{% block body %}
{% load int_to_money %}

    <div style="margin: 5px; padding: 5px;">
        <h3>{{auction.title}}</h3>
        <div class="row">
          <div class="col-sm">
            <img height="250px" style="max-width: 320px;" src={{auction.imagePath}} onerror="this.onerror=null; this.src='https://e-bindalli.com.tr/sitefile/images/no-product.png'" alt="No product image">
          </div>
          <div class="col-sm">
           <h6>Created By: <span>{{auction.creator}}</span></h6>
                {% if auction.price == None %}
                    <h5>Price: ${{auction.openingPrice|toMoney}}</h5>
                {% else %}
                    <h5>Current Price: ${{auction.price|toMoney}}</h5>
                {% endif %}
                <p>
                    Ends at {{auction.endTime}}
                </p>
            <h6 class="text-muted">
                Created {{auction.startTime}}
            </h6>

              <p>{{auction.description}}</p>

              
                {% if isWatched %}
                  <a href="{% url 'stopWatching' auctionId=auction.pk %}"> 
                      Stop watching
                  </a>
                {% else %}
                  <a href="{% url 'watchListing' auctionId=auction.pk %}"> 
                      Add to the watch list
                  </a>
                    
                {% endif %}
          </div>
        </div>
      </div>
    
{% endblock %}